
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <h5>About Us</h5>
              <p>We sell fashion dresses, jewelry and other accessories for kids. We committed to supply 100% quality product to our customers.</p>
            </div>
            <div class="col-md-4" style="margin-left: 220px;">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                <li>Email: sirriryisa@gmail.com</li>
                <li>Phone: +233 (0554356056)</li>
                <li>Whatsapp: +237 (652636242)</li>
                <li>Address: Accra, Ghana</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Connect with Us</h5>
              <ul class="list-unstyled">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>



  