<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="./assets/allProduct.png" alt="">
                <h6>All product</h6>
            </a>

        </div>

        <div class="item">
            <a>
                <img style="width: 50px;" src="./assets/fashionDress.jpg" alt="">
                <h6>Kid's fashion</h6>
            </a>
        </div>

        <div class="item">
            <a>
                <img style="width: 60px" src="./assets/images.jpeg" alt="">
                <h6>Jewelry</h6>
            </a>
        </div>

        <div class="item">
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of products | async">
                <div class="card col-md-3">
                    <img [src]="item.image" alt="DisplayedItem">
                    <h5><strong>Product: </strong>{{item.title}}</h5>
                    <p><strong>Description: </strong>{{item.description}}</p>
                    <p><strong>Price:</strong> ${{item.price}}</p>
                    <button class="btn " style="background-color: pink;" (click)="setCartItem(item)">Add to card</button>
                </div>
        </ng-container>
    </div>
</div>