<header>
    <div class="navbar shadow sm" style="background-color: pink;">
      <div class="navbar-brand align-item-center d-flex">
        <i class="fas fa-shipping-fast">
        </i>
        <strong style="color:white">Kid'sStop</strong>
        <div class="form-group">
            <input type="text" class="searchInput" placeholder="Search item" style="border-color: pink;">
        </div>
        <span class="fas fa-search search-icon"></span>
      </div>
      <button class="btn">
        <i style="font-size: 20px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 5;"class="badge bg-danger">5</div>
      </button>
    </div>
</header>
